*{
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

body{
    background-color:rgba(238, 238, 238, 0.96);
}
nav ul li {
    float: left;
    margin-left: 160;
    list-style: none;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 20;
}
.guardado{
    background-color:royalblue;
    height: 60;
    text-align: center;
}
h4{
color: lightskyblue;
}

a{
    text-decoration: none;
    color: lightskyblue;
}
li.taringa{
    margin-left: 45;
    font-size: 20;
}
#busc456{
    color: white;
}

img{
    width: 600;
    display: block;
    margin-left: 200;
    margin-top: 90 ;
}

input{
    width: 270;
    height: 40;
    background-color:rgb(51, 51, 202);
    color: lightskyblue;
    border-radius: 5px;
}

h4.registrar{
    color: white;
    
}
#reg369{
    margin-right: 100;
    
}
#otrasesion{

color: white;
margin-top: -10;
}


#sesion2{
    margin-top: -45;
    width: 140;
    margin-left: 1550;
    height: 40;
    
   
}
#sesion789{
    width: 140;
    background-color: rgb(72, 110, 14);
    border-color: rgb(122, 202, 1);
    border-radius: 10px;
}
button{
    width: 50;
    height: 50;
    margin-left: -5;
}

li.registrarme{
    margin-left: 160 ;
    font-size: 20;
}
#conte12369{
    float: left;
}

#iniciarse{
margin-top: -600;
    background-color:rgb(248, 248, 248);
    margin-left: 1000;
    width: 500;
    height: 1400;
    text-align: center;
}
#sesion258{
    font-size: 35;
    color: rgb(94, 93, 93);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5;
}
#nom258{
    margin-right: 260;
    color: rgb(121, 120, 120);
}
#input336{
    margin-left: 0;
    width: 450;
    height: 50;
    background-color: white;
    border-color: lightgray;
    color:rgb(143, 142, 142);
}
#bienv456{
    margin-left: 330;
    margin-top: -40;
    font-size: 60;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 84, 84);
}
#parrafo123{
    text-align:center;
    margin-right: 700;
    font-size: 30;
    color: rgb(85, 84, 84);
}
#contra789{
    margin-right: 370;
    color: rgb(121, 120, 120);
}

#boton789{
    width: 445;
    background-color: rgb(193, 235, 192);
    color: white;
    border-color: rgb(193, 235, 192);
}
#cuenta12{
    font-size: 25;
    
}
#a456{
    list-style: none;
    text-decoration: none;
}
#boton45{
    width: 445;
    color:blue;
    background-color: white;
    border-color: blue;
    border-radius: 5px;
}

